# Python
__pycache__/
*.py[cod]
*.egg-info/
.venv/
venv/
env/

# Env
.env

# Data
data/raw/*
data/processed/*
data/outputs/*
!data/raw/.gitkeep
!data/processed/.gitkeep
!data/gold/.gitkeep
!data/outputs/.gitkeep

# Models
*.pt
*.bin
*.ckpt

# Notebooks
.ipynb_checkpoints/

# IDE
.vscode/
.idea/
.DS_Store
